.card {

}

.container {
	margin: 10px 20%;
}


.button-container {
	direction: row;
	justify-content: space-between;
	align-items: center;
}

.add-button {
    margin-left: 10px; 
}

.form-control {
    margin: 10px;

}

.letters {
	background-color:rgb(198, 200, 202);
	margin: 10px 13%;
}

.letter {
	margin-left: 7%;
	font-weight: bold;
}


