
.card-container {
	margin: 10px 15%;
}

.add-button {
    margin-left: 10px; 
}

.form-control {
    margin: 10px;
}

.letters {
	background-color:rgb(198, 200, 202);
	margin: 10px 13%;
}

.letter {
	margin-left: 7%;
	font-weight: bold;
}

.card-body {
  justify-content: space-between;
  align-items: center;
}

.inputs {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}

.stretched-link::after{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

